/* CSS for headers and footers*/
body, html{
  color:RGB(30,30,30);
  margin:0;
  padding:0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 300;
  height: 100%;
  color:#212529;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  background-color:#fde74c;
  /*cursor:none;*/
  z-index:0;
}
.page{
  height:100%;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  width:100%;
  z-index:1;
  position: fixed;
}
button{
  border:none;
}
button:focus {outline:0;}
.footer{
  position: fixed;
  width:100%;
  height: 30px;
  bottom: 0px;
  margin-left:20px;
  z-index:5;
  text-align: left;
  margin: none;
  color:rgb(52,58,64);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate(0,30px);
  transform: translate(0,30px);
}
.footer a{
  color: RGB(52,58,64);
  font-size: 20px;
  line-height: 25px;
  margin-left: 5px;
}
.footer span{
  display: inline;
  font-size: 12px;
  font-weight: 300;
  vertical-align: text-top;
}
.octicon-mark-github, .octicon-mail{
  fill: RGB(52,58,64);
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}
.octicon-mark-github:hover, .octicon-mail:hover{
  fill: RGB(26,29,32);
}
svg {
  overflow: hidden;
  vertical-align: middle;
}
.pfooter {
  position: fixed;
  width: 100%;
  height:100px;
  z-index: 10;
  bottom: 0px;
}
.afooter {
  position: fixed;
  width: 100px;
  left:50%;
  -webkit-transform: translate(-50%,0);
  transform: translate(-50%,0);
  text-align: center;
  height:100px;
  z-index:1;
  bottom:100px;
}

#downArrow {
  font-size:70px;
  color:white;
  -webkit-transform: translate(0,70px);
  transform: translate(0,70px);
  
  -webkit-transition:transform 1s, opacity 1s;
  -webkit-transition:opacity 1s, -webkit-transform 1s;
  transition:opacity 1s, -webkit-transform 1s;
  transition:transform 1s, opacity 1s;
  transition:transform 1s, opacity 1s, -webkit-transform 1s;
  
  opacity: 1;
  
}

#options{
  text-align: center;
  width:100px;
  font-weight: 400;
  left:50%;
  margin-left:-50px;
  bottom:0;
  position: fixed;
  border: 2px dashed RGBA(50,50,50,0);
  color: RGBA(50,50,50,0);

  -webkit-transition: border 1s, color 1s;
  transition: border 1s, color 1s;
}

#options:hover{
  cursor:pointer;
  
}
#optionsPage {
  top:50%;
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
  position: fixed;
  width: 100%;
  text-align: center;
  
}
#optionsPage h4{
  color: RGBA(255,255,255,0);
  width: 200px;
  line-height: 50px;
  font-size: 30px;
  display: inline-block;
  text-align: center;
  border:2px dashed RGBA(255,255,255,0);
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  cursor:pointer;
  
  
  -webkit-transition: background-color 1s, color 1s, border, 1s;
  transition: background-color 1s, color 1s, border, 1s;

  
}
#optionsPage h4 i{
  font-size:40px;
  display: inline-block;
  
}
#optionsPage h4 img{
  opacity: 0;
  
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#rangeDisplay {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.dispC{
  height:100%;
  z-index:1;
  position: fixed;
  width: 25%;
  display:inline-block;
  margin:0;
  padding:0;
  
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
  
}
#optionsPage h4:hover{

}
#maple {
    vertical-align:baseline !important;
}
#maple path{
  fill: RGBA(255,255,255,0);
  
  -webkit-transition: fill 1s;
  transition: fill 1s;
}

#fall{
  
  -webkit-transform:translate(0,5px);
  transform:translate(0,5px);

}

@media only screen and (max-width: 972px){
  #optionsPage{
    width: 490px;
    margin-left:-245px;
    left:50%;
  }
  
}
/*Fix placement of fall icon that keeps causing issues with placement*/
/*806px is the point when icon buttons change from 2x2 to 1x4 display*/
@media only screen and (max-width: 806px){
  #fall{
    
    -webkit-transform:translate(0,0);
    transform:translate(0,0);
  }
  #optionsPage{
    width:240px;
    margin-left:-120px;
    left:50%;
    
  }
  #optionsPage h4{

  }
}
/* For when the options button intersects footer*/
@media only screen and (max-width: 620px){
  #options{
    bottom:30px;
  }
}
@media only screen and (max-width: 400px){
  #optionsPage{
    width:200px;
    margin-left:-100px;
    left:50%;
  }
  #optionsPage h4{
    width:160px;
  }
  
}

/*For when option button intersects options buttons*/
@media only screen and (max-height: 465px){
  #optionsPage h4 i{
    font-size:30px;
    display: inline-block;
  }
  #optionsPage h4{
    width:80px;
    margin:10px;
  }
  #optionsPage {
    width:210px;
    margin-left:-105px;
  }
  #maple {
    width:30px;
    height:30px;
  }
  #fall {
    -webkit-transform: translate(0,4px);
    transform: translate(0,4px);
  }
  
}
