body {

}
.container{

}

path{
  fill:RGBA(255,255,255,0);
  stroke:RGBA(255,255,255,0);
  transition: fill 1s, stroke 1s;
}
* {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}